body {
  background-color: #FFFFD2;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

header {
  width: 100vw;
  background-color: #FFFFD2;
  text-align: center;
  font-size: 5vh;
}

nav {
  width: 100vw;
  background-color: #E2D1F9;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding-left: 2vw;
  font-size: 3vh;
}

nav ul li a {
  text-decoration: none;
}

main {
  width: 100vw;
  height: 75vh;
  background-color: #C5FAD5;
}

main section {
  width: 100vw;
  height: 75vh;
  background-color: #C5FAD5;
  text-align: left;
}

main section article {
  width: 100vw;
  height: 25vh;
  background-color: #C5FAD5;
  font-size: 3vh;

}

main section aside {
  width: 40vw;
  height: 10vh;
  background-color: gray;
  float: right;

}

footer {
  width: 100vw;
  height: 10vh;
  background-color: #FFFFD2;
  font-size: 3vh;
}